@model Futsal_1.Models.MatchEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MatchEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
